<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="technician.inteq.com.ugshdd">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".util.UGSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UGS_HDD">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Services.ReceiveSMS" />
        <receiver android:name=".Services.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <activity android:name=".ui.activity.Dashboard" />
        <activity android:name=".ui.activity.DailyCashReport" />
        <activity android:name=".ui.activity.LeaveManagementBaseActivity" />
        <activity android:name=".ui.activity.StockManagementBaseActivity" />
        <activity android:name=".ui.activity.NewDailyCashReportBaseActivity" />
        <activity android:name=".ui.activity.TechnicalRequestBaseActivity" />
        <activity android:name=".util.AndroidDatabaseManager" />
        <activity android:name=".ui.activity.PendingCases" />
        <activity android:name=".util.QRScanner" />
        <activity android:name=".ui.activity.AddActionsActivity" />
    </application>

</manifest>